*{
    border: 0px;
}
body {
    background-color: #0097b2;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#fundo_laranja {
    background-color: #ffde59;
    width: 100%;
    font-size: 150%;
    padding: 0%;
    text-align: center;
    border: 0%;
    position: absolute;
    left: 0px;
}